<%= form_with(model: mileage, class:"mt-5") do |form| %>

  <% if mileage.errors.any? %>
    <div style="color: red">
      <ul>
        <% mileage.errors.each do |error| %>
          <li class="mb-5"><%= "The new mileage must be greater than #{@current_mileage}" %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>

  <div class="mb-6">
      <%= form.label :start, style: "display: block", class:"block text-gray-500 font-bold md:text-left pr-4 mb-3" %>
      <%= form.number_field :start, :value => (@current_mileage), readonly: true, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div class="mb-6">
    <%= form.label :end, style: "display: block", class:"block text-gray-500 font-bold md:text-left pr-4 mb-3" %>
    <%= form.number_field :end, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div class="md:flex md:items-center mt-3">
      <%= form.submit(class: "new-mileage") %>
  </div>

<% end %>

