<p style="color: green"><%= notice %></p>

<div class="flex flex-col items-center h-screen">

  <h1 class="text-3xl mb-5">Mileages</h1>

  <ul id="mileages">
    <% @mileages.each do |mileage| %>
      <li>
        <%= render mileage %>
      </li>
      <p class="text-right text-xs mt-2 mb-3 mr-5 text-cyan-600 hover:text-slate-500">
        <%= link_to "Show this mileage", mileage %>
      </p>
    <% end %>
  </ul>

  <%= link_to "New mileage", new_mileage_path, class:"new-mileage" %>

  <%= paginate @mileages, window: 2 %><br/>
</div>


