<p style="color: green"><%= notice %></p>

<h1>Mileages</h1>


<div id="mileages">
  <% @mileages.each do |mileage| %>
    <%= render mileage %>
    <p>
      <%= link_to "Show this mileage", mileage %>
    </p>
  <% end %>
</div>

<%= paginate @mileages, window: 2 %><br/>

<%= link_to "New mileage", new_mileage_path %>
